#banner,
#banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border: none;
}

#banner {
    position: absolute;
}


/* @media screen and (max-width: 926px) {

  #banner,
  #banner img {
    height: 210px;
  }
} */

:root {
    --swiper-navigation-color: #a6384a;
    --swiper-pagination-color: #a6384a;
}


/*
.swiper-title{
  position: absolute;
  left: 0;
  width: calc(50% - 15px);
  bottom: 10%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0.6;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  color: white;
  padding-left: 15px;
}

.swiper-title a{
  color: white;
}
*/

#swiper-container {
    width: 100vw;
    /* height: 100vh; */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}