.column-right {
    width: 70%;
}

.titles{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-info {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-left: auto;
    margin-right: auto;
    border-bottom: none;
    text-align: center;
}

.time {
    font-size: 14px;
    color: #999;
    margin-left: auto;
    margin-right: auto;
}