.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    padding-right: 150px;
}

.logo {
    width: 340px;
    height: 63px;
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

nav {
    background-color: rgb(69, 69, 69);
    color: #ffffff;
    padding: 0;
    font-family: Arial, sans-serif;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    padding: 15px 15px;
    display: inline-block;
    transition: background-color 0.3s ease-in-out;
    position: relative;
}

nav ul li:not(:last-child) {
    margin-right: 8px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

nav > ul > li:hover {
    background-color: rgb(32, 127, 203);
}

nav ul li.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 3.5px;
    background-color: rgb(32, 127, 203);
    position: absolute;
    bottom: 0;
    left: 0;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background-color: #ffffff;
    list-style-type: none;
    margin: auto;
    width: 94px;
    border: 1px solid rgb(221, 221, 221);
}

.dropdown-menu li {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border: 1px solid rgb(221, 221, 221);
    z-index: 9999;
}

.dropdown-menu a {
    color: rgb(69, 69, 69);
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-menu {
    display: block;
    z-index: 999;
}