/* 初始化样式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 头部样式 */
.header {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, rgba(186, 216, 254) 0%, rgba(231, 240, 254) 60%, rgba(231, 240, 254) 40%);
  display: flex;
  align-items: center;
  padding: 0 12%;
  overflow: hidden;
}

.logo {
  position: absolute;
  top: 1vh;
  left: 12%;
  width: 14vw;
  height: auto;
  z-index: 1;
}

.logo-container {
  display: none;
}

.logo-pc {
  position: absolute;
  width: 14vw;
  height: auto;
  top: 10px;

}

.toggle-btn {
  display: none;
}

.media-nav {
  display: none;
}

.side-panel {
  display: none;
}

.building-bg {
  position: absolute;
  width: 57%;
  height: auto;
  right: 30px;
  top: 70px;
  z-index: 2;
}

.banner {
  padding-top: 8%;
  width: 100%;
}

.banner-content {
  max-width: 600px;
  z-index: 3;
}

.title {
  position: relative;
  font-family: "Source Han Sans SC";
  color: #333333;
  font-size: 2.6rem;
  line-height: 1.3;
  margin-bottom: 20px;
  z-index: 3;
}

.desc {
  position: relative;
  font-family: "Source Han Serif SC", "Source Han Serif", sans-serif;
  font-size: 1.09rem;
  line-height: 1.6;
  font-weight: 550;
  margin-top: 35px;
  margin-bottom: 45px;
  margin-right: 24%;
  color: rgb(48, 50, 49);
  z-index: 3;
}

.btn-group {
  display: flex;
  gap: 18px;
}

.btn {
  display: inline-flex;
  /* 使文字和图片水平排列 */
  align-items: center;
  padding: 9px 17px;
  font-weight: 420;
  font-size: 13px;
  border: none;
  border-radius: 11px;
  text-decoration: none;
  /* 去掉链接下划线 */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* 第一个按钮样式（蓝底白字） */
.btn.blue {
  background-color: rgb(64, 138, 225);
  color: #fff;
  gap: 12px;
}

/* 第二个按钮样式（白底蓝字） */
.btn.white {
  background-color: rgb(255, 255, 255);
  color: rgb(64, 138, 225);
  gap: 12px;
}

.arrow {
  width: 11px;
  height: 11px;
}

.btn:focus {
  outline: none;
}

/* 导航栏样式 */
.nav-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-top: 7%;
}

.nav {
  position: relative;
  top: 0;
  z-index: 999;
  width: 100%;
  /* 确保导航栏宽度与容器一致 */
}

.nav-list {
  display: flex;
  min-width: 94px;
  justify-content: center;
}

.nav-list li {
  list-style: none;
  flex: 1;
  margin: 0 auto;
}


.nav-list li a {
  padding: 12% 0;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-size: small;
  color: #fff;
  transition: background-color 0.3s ease;
  white-space: nowrap;
  text-align: center;
}

.nav-list li:not(:last-child) {
  margin-right: 4px;
}

.nav-btn-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 5px auto;
  margin-bottom: 11px;
  vertical-align: middle;
}

/* 导航栏各部分不同底色 */
.nav-item-home {
  background-color: #408AE1;
}

.nav-item-profile {
  background-color: #3691E4;
}

.nav-item-party {
  background-color: #2B96E6;
}

.nav-item-degree {
  background-color: #219CE9;
}

.nav-item-exam {
  background-color: #15A1EC;
}

.nav-item-training {
  background-color: #15A1EC;
}

.nav-item-teacher {
  background-color: #00ADF1;
}

.nav-item-social {
  background-color: #1AB9E1;
}

.nav-item-family {
  background-color: #31C4CE;
}

.nav-item-international {
  background-color: #4BD0BF;
}

.nav-item-cloud {
  background-color: #63DBAD;
}

/* 导航栏隐藏/显示相关样式 */
.nav-hide {
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.nav-show {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

/* 导航栏固定在顶部的样式 */
.nav-fixed {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* 底部容器 */
.footer {
  margin: 0 auto;
  padding-top: 5%;
  padding-left: 12%;
  padding-right: 12%;
  display: flex;
  justify-content: space-between;
  background-color: #00070F;
  color: #fff;
}

/* 左侧联系我们模块 */
.footer-left h2,
.footer-middle h2,
.footer-right h2 {
  font-size: 22px;
  position: relative;
  padding-bottom: 8px;
  margin-bottom: 20px;
}

.footer-left h2::after,
.footer-middle h2::after,
.footer-right h2::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 30px;
  height: 3px;
  background-color: #007bff;
  /* 蓝色条 */
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-left {
  flex: 1;
  margin-bottom: 20px;
  margin-right: 30px;
}

.contact-right {
  margin-bottom: 20px;
}

.contact-item {
  margin-bottom: 20px;
  line-height: 1.6;
}

.contact-item p {
  margin: 0;
  font-size: small;
  font-weight: 200;
  font-family: 'Microsoft YaHei', sans-serif;
}

/* 中间友情链接模块 */
.footer-middle ul {
  list-style: none;
}

.footer-middle ul li {
  margin-bottom: 8px;
  transition: color 0.3s;
}

.footer-middle ul li a {
  font-family: 'Microsoft YaHei', sans-serif;
  font-size: small;
  font-weight: 200;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
}

/* 右侧官方微信模块 */
.qrcode-box {
  display: flex;
  gap: 10px;
}

.qrcode-img {
  width: 80px;
  height: 80px;
}

.qrcode-item p {
  display: block;
  text-align: center;
  margin-top: 5px;
  font-family: 'Microsoft YaHei', sans-serif;
  font-size: small;
  font-weight: 200;
}

/* 底部版权栏 */
.footer-bottom {
  margin: 0 auto;
  padding-left: 12%;
  padding-right: 12%;
  padding-top: 1.2%;
  padding-bottom: 2%;
  background-color: #00070F;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-line-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #00070F;
}

.footer-line {
  border-top: 1px solid #34393F;
  /* 灰色细线 */
  width: 76%;
}

.logo-bottom {
  width: 14vw;
  height: auto;
}

.copyright {
  font-size: 12px;
  margin: 10px 0;
  color: #ffffff;
}

.copyright-media {
  display: none;
}

.contact-info-media {
  display: none;
}