html {
    font-size: 16px; 
    font-family: '阿里巴巴普惠体';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: '阿里巴巴普惠体';
}

body {
    background-color: #ffffff;
    line-height: 1.6;
    width: 100vw;
  }
  
a {
    text-decoration: none;
    color: #333;
}
  
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}
  
li {
    list-style: none;
}

/*header*/

header {
    width: 100%;
    background-image: url('../images/home_education/header_banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 38.625rem;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 1.5rem;

    color: white;
}

.header-icon {
    height: 3rem;
    display: flex;
    align-items: center;
}


.header-icon img:first-child {
    width: 15rem;
}

.header-icon img {
    height: 3rem;
    width: 11.25rem;
    object-fit: contain;
}

.header-title-area {
    margin: 0 auto;
    text-align: center;
}


.header-button-area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20.5rem;
}

.header-button {
    width: 16rem;
    height: 5rem;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.header-button:hover {
    transform: translateY(-3px);
    transition: transform 0.3s ease;
}

.header-button-left {
    background-color: #4289e2;
    color: #fff;
    margin-right: 1.4rem;
}

.header-button-right {
    background-color: #fff;
    color: #6850e5;
}

/*content*/

.content-item {
    width: 100%;
    
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.event-preview {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.alliance-news {
    background-color: #f0f2f9;
}

.college-business {
    background-color: #fff;
    position: relative;
}

.identical-examples {
    background-color: #f0f2f9;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 10;
  }
  
  .content-header img {
    width: 1.625rem;
    height: 1.625rem;
    object-fit: contain;
    
  }

  .content-header-first {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .content-subtitle {
    font-size: 1rem;
    color: #999999;
    font-weight: 600;
  }
  
  .content-title {
    font-size: 4rem;
    font-weight: 700;
    color: #343434;
  }

  .content-more-button {
    text-decoration: none;
    margin-bottom: 21px;
    right: 0;
    padding: 1rem 1rem;
    border: none;
    border-radius: 0.7rem;
    background-color: rgb(64, 138, 225);
    color: #fff;
    cursor: pointer;
  }

.content-more-button:hover {
    transform: translateY(-3px);
    transition: transform 0.3s ease;
}


/*event-preview*/

.event-preview-body {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 35px;
    flex: 1;
    margin-top: 2rem;
}

.event-preview-title-list {
    height: 37.5rem;
    width: 23rem;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.event-preview-title-item {
    width: 100%;
    max-height: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 1rem;
    background-color: #fff;
    color: #696969;
    cursor: pointer;

    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);

    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.event-preview-title-item:hover {
    background-color: #3c8ada;
    color: #fff;
}

.event-preview-title-item:hover .event-preview-title-item-content-right {
    color: #fff;
}

.event-preview-title-item.active {
    background-color: #3c8ada;
    color: #fff;
}

.event-preview-title-item.active .event-preview-title-item-content-right {
    color: #fff;
}

.event-preview-title-item-content-left {
    display: flex;
    flex-direction: column;

}

.event-preview-title-item-content-right {
    font-size: 4rem;
    color: #d4d4d4;
}

.event-preview-title-item-content-left .title {
    font-size: 2.5rem;
    font-weight: 700;
}

.event-preview-title-item-content-left .subtitle {
    font-size: 0.9rem;
}

.event-preview-content-list {
    height: 37.5rem;   
    display: flex;
    justify-content: space-between;
    gap: 1.375rem;
}

.event-preview-content-item {
    width: 20.25rem;
    height: 37.5rem;
    background-color: #f2f2f2;

    padding: 3.625rem 2rem;
    border-radius: 0.5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.event-preview-content-item:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.event-preview-content-item-title {
    font-size: 1.6rem;
    color: #333333;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


.event-preview-content-item-description {
    font-size: 1.1rem;
    color: #a4a4a4;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


.event-preview-content-item-image {
    width: 100%;
    height: 8.7rem;
    overflow: hidden;
    border-radius: 0.5rem;
    background-color: #fff;
}


.event-preview-content-item-more {
    font-size: 1.2rem;
    color: #999999;
}

/* 只有一条内容时的特殊样式 */
.event-preview-content-item.single-item {
    width: 63rem;
    color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1rem;
    padding: 0;
}

.event-preview-content-single-item-content {
    width: 100%;
    height: 20%;
    padding: 0 2rem;
    background-color:#f2f2f2;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

}
/* 单条内容的图片样式 */
.event-preview-content-item.single-item .event-preview-content-item-image {
    width: 100%;
    height: 80%;
    overflow: hidden;
    border-radius: 1rem 1rem 0 0;
}

.event-preview-content-item.single-item .event-preview-content-item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*alliance-news*/

.alliance-news-body {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1.3125rem;
}

.alliance-news-left {
    width: 29.2rem;
    height: 38.125rem;
    border-radius: 0.5rem;
    background-color: #fff;
    
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.alliance-news-left:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.alliance-news-left::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(83, 150, 229, 0);
    border-radius: 0.5rem;
    pointer-events: none;
    transition: background-color 0.3s ease;
}

.alliance-news-left:hover::after {
    background-color: rgba(83, 150, 229, 0.7);
}

.alliance-news-left-image {
    width: 100%;
    height: 50%;
    border-radius: 0.5rem 0.5rem 0 0;
    background-color: #dcdcdc;
    transition: height 0.3s ease, border-radius 0.3s ease;
}

.alliance-news-left:hover .alliance-news-left-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 0.5rem;
}

.alliance-news-left-image img {
    border-radius: 0.5rem 0.5rem 0 0;
}

.alliance-news-left:hover .alliance-news-left-image img {
    border-radius: 0.5rem;
}

.alliance-news-left-content {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 2.375rem 2.375rem 3.625rem 2.375rem;
    
    position: relative;
    z-index: 1;
    transition: color 0.3s ease, padding 0.3s ease, height 0.3s ease;
}

.alliance-news-left:hover .alliance-news-left-content {
    height: 100%;
    padding: 3.625rem 2.375rem;
    color: #fff;
}

.alliance-news-left-content-first-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.alliance-news-left:hover .alliance-news-left-content-first-line {
    margin-bottom: 1.5rem;
}

.alliance-news-left-content-tag {
    font-size: 1rem;
    color: #4d91e4;
    transition: color 0.3s ease;
}

.alliance-news-left:hover .alliance-news-left-content-tag {
    color: #fff;
}

.alliance-news-left-content-time {
    font-size: 1rem;
    color: #999999;
    transition: color 0.3s ease;
}

.alliance-news-left:hover .alliance-news-left-content-time {
    color: #fff;
}

.alliance-news-left-content-title {
    margin-left: 0.3rem;
    font-size: 1.44rem;
    font-weight: 700;
    color: #333333;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 0.3rem;
    transition: font-weight 0.3s ease, padding-bottom 0.3s ease, border-bottom 0.3s ease, color 0.3s ease;
}

.alliance-news-left:hover .alliance-news-left-content-title {
    font-weight: 700;
    padding-bottom: 3.75rem;
    border-bottom: 0.1rem rgba(256,256,256,0.3) solid;
    color: #fff;
}

.alliance-news-left-content-description, .alliance-news-center-content-description {
    margin-left: 0.3rem;
    font-size: 1.1rem;
    color: #a4a4a4;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.alliance-news-left:hover .alliance-news-left-content-description {
    color: #fff;
}

.alliance-news-left-content-divide-line {
    height: 0;
    width: 0;
    border-bottom: 0.1rem rgba(256,256,256) solid;
    margin-top: -0.05rem;
    transition: width 0.3s ease;
}

.alliance-news-left:hover .alliance-news-left-content-divide-line {
    width: 4.25rem;
}

.alliance-news-left-content-more {
    font-size: 1rem;
    color: #999999;
    transition: color 0.3s ease;
}

.alliance-news-left:hover .alliance-news-left-content-more {
    color: #fff;
}



.alliance-news-center {
    width: 29.2rem;
    height: 38.125rem;
    border-radius: 0.5rem;
    background-color: #fff;

    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.alliance-news-center:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.alliance-news-center::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(83, 150, 229, 0);
    border-radius: 0.5rem;
    pointer-events: none;
    transition: background-color 0.3s ease;
}

.alliance-news-center:hover::after {
    background-color: rgba(83, 150, 229, 0.7);
}

.alliance-news-center-image {
    width: 100%;
    height: 50%;
    border-radius: 0.5rem 0.5rem 0 0;
    background-color: #dcdcdc;
    transition: height 0.3s ease, border-radius 0.3s ease;
}

.alliance-news-center:hover .alliance-news-center-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 0.5rem;
}

.alliance-news-center-image img {
    border-radius: 0.5rem 0.5rem 0 0;
}

.alliance-news-center:hover .alliance-news-center-image img {
    border-radius: 0.5rem;
}

.alliance-news-center-content {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 2.375rem 2.375rem 3.625rem 2.375rem;

    color: #333333;
    position: relative;
    z-index: 1;
    transition: color 0.3s ease, padding 0.3s ease, height 0.3s ease;
}

.alliance-news-center:hover .alliance-news-center-content {
    height: 100%;
    padding: 3.625rem 2.375rem;
    color: #fff;
}

.alliance-news-center-content-first-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.alliance-news-center:hover .alliance-news-center-content-first-line {
    margin-bottom: 1.5rem;
}

.alliance-news-center-content-tag {
    font-size: 1rem;
    color: #4d91e4;
    transition: color 0.3s ease;
}

.alliance-news-center:hover .alliance-news-center-content-tag {
    color: #fff;
}


.alliance-news-center-content-time {
    font-size: 1rem;
    color: #999999;
    transition: color 0.3s ease;
}

.alliance-news-center:hover .alliance-news-center-content-time {
    color: #fff;
}


.alliance-news-center-content-title {
    font-size: 1.44rem;
    font-weight: 700;
    margin-left: 0.3rem;
    padding-left: 0.3rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: font-weight 0.3s ease, padding-bottom 0.3s ease, border-bottom 0.3s ease;
}

.alliance-news-center:hover .alliance-news-center-content-title {
    font-weight: 700;
    padding-bottom: 3.75rem;
    border-bottom: 0.1rem rgba(256,256,256,0.3) solid;
}

.alliance-news-cneter-content-divide-line {
    height: 0;
    width: 0;
    border-bottom: 0.1rem rgba(256,256,256) solid;
    margin-top: -0.05rem;
    transition: width 0.3s ease;
}

.alliance-news-center:hover .alliance-news-cneter-content-divide-line {
    width: 4.25rem;
}


.alliance-news-center-content-more {
    font-size: 1rem;
    color: #999999;
    transition: color 0.3s ease;
}

.alliance-news-center:hover .alliance-news-center-content-more {
    color: #fff;
}


.alliance-news-right {
    width: 29.2rem;
    height: 38.125rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.alliance-news-right-item {
    display: flex;
    width: 100%;
    height: 8.625rem;
    
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.alliance-news-right-item:hover {
    transform: translateY(-0.25rem);
}

.alliance-news-right-item-image {
    width: 15.25rem;
    height: 100%;
    border-radius: 0.5rem;
    background-color: #dcdcdc;
}

.alliance-news-right-item-image img {
    border-radius: 0.5rem;
}

.alliance-news-right-item-content {
    flex: 1;
    padding: 0.75rem 0.625rem 0.75rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.alliance-news-right-item-content-time {
    font-size: 1rem;
    color: #999999;
}

.alliance-news-right-item-content-title {
    font-size: 1rem;
    font-weight: 700;
    color: #333333;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.alliance-news-right-item-content-more {
    font-size: 1.1rem;
    color: #999999;
}

/*college-business*/

.college-business {
    display: flex;
}

.college-business-directory {
    width: 21.5625rem;
    height: 100%;
}

.college-business-directory-content {
    width: 15.25rem;
    margin-top: 2.5rem;
}

.college-business-directory-content-item{
    font-size: 1.5rem;
    font-weight: 700;
    color: #666666;

    padding: 0.5rem 0.75rem;
    
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.college-business-directory-content-item:hover {
    background-color: #4189e1;
    color: #fff;
}

.college-business-directory-content-item.first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0.75rem;
    margin-bottom: 0.5rem;

    color: #fff;
    background-color: #4189e1;
}

.college-business-directory-content-switch-buttons {
    width: 6.375rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.college-business-directory-content-switch-buttons div {
    margin-top: 3rem;
    height: 2.5rem;
    font-size: 2.5rem;
    
    cursor: pointer;
    transition: opacity 0.3s ease, transform 0.2s ease;
}

.college-business-directory-content-switch-buttons div:hover {
    opacity: 0.7;
    transform: scale(1.1);
}

.college-business-content {
    flex: 1;
    display: flex;
}

.college-business-content-item {
    width: 22.8125rem;
    height: 38.25rem;
    background-color: #fff;
    border: 1px #e2e2e2 solid;
    border-right: none;
    padding: 5rem 1.875rem;

    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease, background-color 0.3s ease;
}

.college-business-content-item:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    background-color: #428be3;
    color: white;
}

.college-business-content-item:last-child {
    border-right: 1px #e2e2e2 solid;
}

.college-business-content-item:hover .college-business-content-item-divide-line {
    background-color: #fff;
}

.college-business-content-item:hover>div {
    color: white;
}

.college-business-content-item>div {
    transition: color 0.3s ease;
}

.college-business-content-item-divide-line {
    width: 3.125rem;
    height: 0.1rem;
    background-color: #cbcbcb;
}

.college-business-content-item-content-title {
    font-size: 1.875rem;
    font-weight: 700;
    margin-top: 0.6rem;
    color: #333333;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.college-business-content-item-content-image {
    margin-top: 2.25rem;
    width: 100%;
    height: 12.5rem;
    border-radius: 0.5rem;
}

.college-business-content-item-content-image img {
    border-radius: 0.5rem;
}

.college-business-content-item-content-description {
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 1.8rem;
    margin-bottom: 2.75rem;
    color: #666;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.college-business-content-item-content-more {
    color: #999;
}

/*identical-examples*/
.identical-examples-first-item {
    width: 100%;
    height: 25rem;

    display: flex;
    justify-content: space-between;
}

.identical-examples-first-item-image {
    width: 38.025rem;
    height: 100%;
    border-radius: 0.5rem;
    background-color: #dcdcdc;
}

.identical-examples-first-item-image img {
    border-radius: 0.5rem;
}

.identical-examples-first-item-content {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 3.94rem 0 0 6.375rem;
}

.identical-examples-first-item-content-title {
    font-size: 2.875rem;
    font-weight: 700;
    color: #428ce2;
}

.identical-examples-first-item-content-description {
    margin-top: 2.375rem;
    font-size: 1rem;
    color: #999999;
}

.identical-examples-first-item-content-more {
    width: 9.25rem;
    height: 3rem;
    margin-top: 3.75rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 1.25rem;
    border: 0.1rem #428ce2 solid;

    cursor: pointer;
    font-size: 1.3125rem;
    color: #428ce2;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.identical-examples-first-item-content-more:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}


.identical-examples-item-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.identical-examples-item {
    width: 22.5rem;
    height: 6.25rem;
    border: 0.25px solid #dcdee1;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.4rem;
    
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.identical-examples-item:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.identical-examples-item-title {
    font-size: 1.125rem;
    color: #333333;
    font-weight: 700;
}

.identical-examples-item-more {
    font-size: 1.25rem;
    color: #999999;
}

/*footer*/

footer {
    width: 100%;
    height: 24.1875rem;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 5.875rem;
    background: #000;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-icon {
    width: 15.625rem;
    height: 4.875rem;
}

.footer-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.footer-address {
    font-size: 1.1rem;
    font-weight: 200;
    font-family: 'Microsoft YaHei', sans-serif;
}

.footer-address div {
    margin-bottom: 1rem;
}

.footer-Qrcode {
    display: flex;
    gap: 15px;
}

.footer-Qrcode-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    font-size: 0.9rem;
    width: 7.5rem;
}

.footer-Qrcode-item .small {
    font-size: 0.75rem;
}

.footer-Qrcode-item p {
    text-align: center;
    font-family: 'Microsoft YaHei', sans-serif;
    font-weight: 200;
}

.footer-Qrcode-item img {
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 0.5rem;
}

.footer-bottom {
    width: 100%;
    border-top: 1px solid #34393F;
    height: 3.625rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright {
    font-size: 1rem;
    font-family: 'Microsoft YaHei', sans-serif;
    font-weight: 200;
}