@media screen and (max-width: 1000px) {
    .header {
        position: relative;
        height: auto;
        padding: 0 8%;
    }
}

/* ------- 移动端适配样式 ------- */
@media screen and (max-width: 768px) {
    .title {
        font-size: 1.1rem;
        line-height: 1.5;
    }

    .header {
        padding: 0 5%;
        background: linear-gradient(45deg, rgba(197, 222, 253, 1) 0%, rgba(218, 233, 255, 1) 40%, rgba(218, 233, 255, 1) 60%);
    }

    .logo-container {
        position: relative;
        width: 100%;
        padding: 14px 16px;
        display: flex;
        justify-content: space-between;
    }

    .logo {
        position: relative;
        padding-top: 0px;
        top: 0;
        width: 30%;
        left: 1%;
    }

    .toggle-btn {
        display: block;
        background-color: #FFF;
        border: transparent;
    }

    .media-nav {
        display: block;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    /* 被展开的页面面板（默认隐藏） */
    .side-panel {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
        z-index: 999;
        display: none;
    }

    /* 导航面板内部结构 */
    .nav-panel {
        position: relative;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        /* ✅ 可滚动查看内容 */
        box-sizing: border-box;
    }

    /* 关闭按钮 */
    .close-btn {
        display: block;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    /* 防止主页面滚动 */
    body.no-scroll {
        overflow: hidden;
    }

    .nav-list-media {
        margin: 0 18px;

    }

    .nav-list-media a li {
        list-style: none;
        padding: 21px 0;
        border-top: 0.5px solid #DCDFE6;
        font-size: 15px;
        font-weight: 500;
        text-decoration: none;
        color: #303133;
    }

    .nav-list-media>li {
        list-style: none;
        padding: 21px 0;
        border-top: 0.5px solid #DCDFE6;
        border-bottom: 0.5px solid #DCDFE6;
        margin-bottom: 30px;
        font-size: 15px;
        font-weight: 500;
        text-decoration: none;
        color: #303133;
    }

    .footer-media {
        margin: 0 18px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .footer-media h2 {
        font-size: 0.95rem;
        position: relative;
        font-weight: 500;
        padding-bottom: 2px;
        margin-bottom: 10px;
    }

    .footer-middle-media h2::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 20px;
        height: 3px;
        background-color: #007bff;
        /* 蓝色条 */
    }

    .footer-middle-media ul li {
        margin-bottom: 8px;
        list-style: none;
    }

    .footer-middle-media ul li a {
        font-size: 14px;
        font-weight: 300;
        text-decoration: underline;
        color: #606266;
    }

    .nav-container {
        display: none;
    }

    .desc {
        display: none;
    }

    .building-bg {
        position: absolute;
        width: 50%;
        right: -30px;
        top: 20%;
        z-index: 1;
    }

    .banner {
        padding-top: 10%;
        padding-bottom: 7%;
        width: 100%;
    }

    .banner-content {
        max-width: 600px;
        z-index: 2;
    }

    .btn-group {
        padding-top: 4%;
        gap: 8px;
    }

    .btn {
        padding: 2px 10px;
        font-size: 0.7rem;
        border-radius: 23px;
    }

    /* 第一个按钮样式（蓝底白字） */
    .btn.blue {
        border: 1px solid transparent;
        background-color: #fff;
        color: rgb(64, 138, 225);
        gap: 10px;
    }

    /* 第二个按钮样式（白底蓝字） */
    .btn.white {
        border: 0.5px solid rgb(64, 138, 225);
        background-color: transparent;
        color: rgb(64, 138, 225);
        gap: 10px;
    }


    .arrow {
        width: 8px;
        height: 8px;
    }


    .main-content {
        padding: 0 4%;
        margin: 40px auto;
    }

    .section-header {
        margin-bottom: 15px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .section-subtitle {
        left: 0px;
        bottom: 2px;
    }

    .section-header img {
        display: none;
    }

    .section-title {
        top: -5px;
        font-size: 1.5rem;
        font-weight: 800;
    }

    .section-btn {
        display: none;
    }

    .news-section {
        margin-bottom: 40px;
    }

    .news-list {
        display: grid;
        grid-template-columns: repeat(1, 0px);
        grid-template-rows: repeat(5, 85px);
        gap: 0px;
        row-gap: 18px;
        width: 100%;
    }

    /* 第一个 news-card 特别样式 */
    .news-card:first-child {
        grid-row: 1 / 3;
    }

    /* 遮罩效果 */
    .news-card:first-child::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 50%;
        background: linear-gradient(to top,
                rgba(1, 1, 1, 1) 0%,
                rgba(1, 1, 1, 0) 60%,
                rgba(1, 1, 1, 0) 100%);
        z-index: 1;
    }

    /* 第一张图样式 */
    .news-card:first-child img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    /* 第一个 news-card 中的内容样式 */
    .news-card:first-child .content {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 2px;
        padding: 0 7px;
        color: #fff;
        z-index: 2;
    }

    /* 第一个标题 */
    .news-card:first-child .content h2 {
        font-size: 14px;
        font-weight: 500;
        white-space: nowrap;
        /* 不换行 */
        overflow: hidden;
        /* 超出隐藏 */
        text-overflow: ellipsis;
        line-height: 1;
        margin: 3px 0px;
        color: #fff;
    }

    /* 除第一个 news-card 外的样式 */
    .news-card:not(:first-child) {
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        box-shadow: 0 2px 6px rgb(240, 240, 240);
    }

    /* 普通卡片的内容样式 */
    .news-card:not(:first-child) .content {
        padding: 2px 8px;
        flex: 1;
    }

    .news-card:not(:first-child) img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    /* 普通卡片标题样式 */
    .news-card:not(:first-child) .content h2 {
        font-size: 0.8rem;
        font-weight: 500;
        line-height: 1.5;
        margin-bottom: 10%;
        color: #333;
        overflow: hidden;
    }

    .news-card:not(:first-child) .news-pic-container {
        width: 110px;
        height: 85px;
        overflow: hidden;
    }

    /* 通用 meta-info 样式 */
    .meta-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.7rem;
        font-weight: 500;
        color: #FFFFFF;
    }

    .time {
        font-weight: 400;
    }

    .more-btn {
        margin-top: 30px;
        text-decoration: none;
        display: block;
        padding: 12px 0px;
        border-radius: 4px;
        border: 1px solid #DCDFE6;
        color: #303133;
        text-align: center;
    }

    /* 学院业务样式优化 */
    .business-section {
        position: relative;
        margin-bottom: 70px;
        padding: 30px 0;
        overflow: visible;
    }

    .business-section::before {
        content: '';
        position: absolute;
        left: -4%;
        right: -4%;
        top: 0;
        bottom: -20px;
        background: url("/src/icons/media/bcg.png") no-repeat center / cover;
        z-index: -1;
    }

    .business-list {
        display: grid;
        grid-template-columns: repeat(2, 175px);
        grid-template-rows: repeat(3, 165px);
        gap: 0;
        justify-content: center;
    }

    .business-item {
        background-color: transparent;
        border-radius: 0;
        box-shadow: none;
        display: flex;
        flex-direction: column;
        text-decoration: none;
    }

    .business-item:nth-child(1),
    .business-item:nth-child(3) {
        border-right: rgba(144, 147, 153, 0.3) 0.5px solid;
        border-bottom: rgba(144, 147, 153, 0.3) 0.5px solid;
    }

    .business-item:nth-child(2),
    .business-item:nth-child(4) {
        border-bottom: rgba(144, 147, 153, 0.3) 0.5px solid;
    }

    .business-item:nth-child(5) {
        border-right: rgba(144, 147, 153, 0.3) 0.5px solid;
    }


    .business-icon-container {
        position: relative;
        margin-top: 30px;
        margin-left: 54px;
        margin-right: 54px;
        border-radius: 6px;
        width: 70px;
        height: 70px;
        background-color: #F0F4FA;
        z-index: 1;
        transition: all 0.3s ease;
    }

    .icon1,
    .icon2,
    .icon3,
    .icon4,
    .icon5,
    .icon6 {
        position: relative;
        margin: 15px auto;
        display: block;
        z-index: 2;
        transition: all 0.3s ease;
    }

    .icon1 {
        width: 73%;
    }

    .icon2 {
        width: 48%;
    }

    .icon3 {
        width: 57%;
    }

    .icon4 {
        width: 52%;
    }

    .icon5 {
        width: 60%;
    }

    .icon6 {
        width: 50%;
    }

    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .business-item h4 {
        color: #333333;
        font-size: 0.9rem;
        font-weight: medium;
        margin: 10px 0 0 18px;
        text-decoration: none;
        white-space: nowrap;
        align-items: center;
        padding-top: 10%;
        margin: 0;
    }

    .business-item p {
        color: #909399;
        font-size: 0.8rem;
        font-weight: 400;
        margin: 4px 0 0 0;
        text-decoration: none;
        white-space: nowrap;
    }

    /* 招生公告样式优化 */
    .section-part-container {
        display: flex;
        gap: 5px;
    }

    .small-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .more-btn2 {
        display: block;
        position: relative;
        width: 36px;
        height: 36px;
    }

    .more-btn2 img {
        position: relative;
        display: block;
        width: 36px;
        height: 36px;
    }

    .section-part-enroll-btn,
    .section-part-brand-btn {
        margin-bottom: 6px;
        padding: 4px 8px;
        border-radius: 8px;
        border: none;
        font-weight: 700;
        font-size: 0.8rem;
    }

    .enrollment-section {
        margin-bottom: 70px;
    }

    .enrollment-grid {
        position: relative;
        z-index: 1;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 90px);
        gap: 12px;
        height: auto;
    }

    .enrollment {
        width: 347px;
        height: 90px;
        background: #fff;
        border-radius: 8px;
        padding: 8px;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .enrollment span {
        position: absolute;
        top: 2px;
        left: -3px;
        font-size: 0.65rem;
        font-weight: 300;
        color: #fff;
        z-index: 1;
    }

    .enrollment-badge {
        position: absolute;
        top: 0;
        left: -7px;
        width: 70px;
        height: 35px;
    }

    .enrollment-content {
        margin-top: 22px;
        display: flex;
        gap: 6px;
    }

    .enrollment-date {
        width: 70px;
        height: 50px;
        color: #666;
        background: #f0f0f0;
        padding: 2px 11px;
        border-radius: 4px;
        white-space: nowrap;
        line-height: 1.5;
    }

    .enrollment-date h2 {
        font-size: 1.05rem;
        font-family: "Roboto", "Source Han Sans", sans-serif;
        color: #323232;
    }

    .enrollment-date h5 {
        font-size: 0.7rem;
        color: #989898;
    }

    .enrollment-title {
        font-size: 0.9rem;
        font-weight: 600;
        color: #333;
        line-height: 1.6;
        flex: 1;
    }

    /* 品牌项目样式优化 */
    .brand-section {
        margin-bottom: 40px;
    }

    .brand-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 77px);
        gap: 10px;
        height: auto;
    }

    .brand-item {
        width: 347px;
        height: 100%;
        position: relative;
        background-color: #F9F9FE;
        display: flex;
        flex-direction: row;
        border: none;
    }

    .brand-pic-container {
        position: relative;
        width: 102px;
        height: 77px;
        overflow: hidden;
    }

    .brand-pic {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .badge span {
        position: absolute;
        top: 2px;
        left: 8px;
        font-size: 0.65rem;
        font-weight: 300;
        color: #fff;
        z-index: 1;
    }

    .brand-badge {
        position: absolute;
        top: 0;
        left: -7px;
        width: 70px;
        height: 33px;
    }

    .brand-title {
        font-size: 1rem;
        font-weight: 600;
        color: #333;
        margin: 2px 0;
        height: 23px;
    }

    .brand-subtitle {
        margin: 2px 0px;
        font-size: 14px;
        color: #909399;
    }

    .brand-footer {
        display: flex;
        justify-content: right;
        align-items: center;
        margin-right: 0;
    }

    .brand-date {
        font-size: 0.7rem;
        color: #999;
    }

    .brand-arrow {
        display: none;
    }

    .brand-content {
        margin: 0 10px;
        display: flex;
        flex-direction: column;
        height: 77px;
        flex:1;
    }

    /* 底部容器 */
    .footer {
        padding-top: 8%;
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        background-color: #00070F;
        color: #fff;
    }

    /* 左侧联系我们模块 */
    .footer-left h2,
    .footer-middle h2,
    .footer-right h2 {
        font-size: 0.95rem;
        position: relative;
        font-weight: 500;
        padding-bottom: 2px;
        margin-bottom: 10px;
    }

    .footer-left h2::after,
    .footer-middle h2::after,
    .footer-right h2::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 20px;
        height: 3px;
        background-color: #007bff;
        /* 蓝色条 */
    }

    .contact-info {
        display: none;
    }

    .contact-info-media {
        display: block;
    }

    .contact-item {
        margin-bottom: 20px;
        line-height: 1;
    }

    .contact-item p {
        margin: 0;
        font-size: small;
        font-weight: 100;
        font-family: 'Microsoft YaHei', sans-serif;
        opacity: 0.8;
    }

    /* 中间友情链接模块 */
    .footer-middle {
        margin-top: 15px;
        margin-bottom: 20px;
    }

    .footer-middle ul li {
        margin-bottom: 5px;
        transition: color 0.3s;
    }

    .footer-middle ul li a {
        font-family: 'Microsoft YaHei', sans-serif;
        font-size: small;
        font-weight: 200;
        cursor: pointer;
        text-decoration: underline;
        color: #ffffff;
        opacity: 0.8;
    }

    /* 右侧官方微信模块 */
    .qrcode-box {
        display: flex;
        gap: 15px;
    }

    .qrcode-img {
        border: 5px solid #FFF;
        width: 100px;
        height: 100px;
    }

    .qrcode-item p {
        display: block;
        text-align: center;
        margin-top: 0px;
        font-family: 'Microsoft YaHei', sans-serif;
        font-size: small;
        font-weight: 200;
        opacity: 0.8;
    }

    /* 底部版权栏 */
    .footer-bottom {
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
        padding-top: 2.2%;
        padding-bottom: 3.2%;
        background-color: #000000;
        display: block;
    }

    .footer-line-container {
        display: none;
    }

    .footer-line {
        display: none;
    }

    .logo-bottom {
        display: none;
    }

    .copyright {
        display: none;
    }

    .copyright-media {
        display: block;
        font-size: 0.8rem;
        opacity: 0.6;
        margin: 20px 10px;
        color: #ffffff;
        text-align: center;
    }
}